@using Xproduct.Models
@{
    User user = (User)Session["sesion"];
    var ImageBase64 = (user.Image != null) ? "data:image/jpeg;base64," + Convert.ToBase64String(user.Image) : "https://static2.yan.vn/YanNews/2167221/202102/facebook-cap-nhat-avatar-doi-voi-tai-khoan-khong-su-dung-anh-dai-dien-e4abd14d.jpg";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Contents/styles.css")
        @Styles.Render("~/Contents/profile-styles.css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link rel='stylesheet' href="~/Contents/tong-quan.css" />

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Slick Carousel -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    
    <div class="home_content">
        <div class="tool_bar">
            <button class="question" onclick="goToSupportPage()"></button>
            <button class="notification" onclick="goToNotificationPage()"></button>
            <button class="info_button">
                <div class="user_info">
                    <img class="user_avt" src="~/source-img/avt-icon.png">
                    <span class="username" style="color: black;">Admin</span>
                    <img class="down" src="~/source-img/down.png">
                </div>
            </button>
        </div>
        <div class="user_manager hidden" id="user_manager">
            <div class="user_info">
                <img class="show_avt" src="@ImageBase64">
                <div class="user_name_and_mail">
                    <span class="name"><b>@user.FullName</b></span><br>
                    <div class="mail">Email: @user.Email</div>
                </div>
            </div>
            <ul class="function_list">
                <li>
                    <a href="@Url.Action("ProfileUser","User")">
                        <img src="~/source-img/Group 21339.png" class="function_img" id="btn1">
                        <span class="function_text">Hồ sơ cá nhân</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ChangePasswordPage","User")">
                        <img src="~/source-img/Group 19044.png" class="function_img" id="btn2">
                        <span class="function_text">Đổi mật khẩu</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Support","User")">
                        <img src="~/source-img/question.png" class="function_img">
                        <span class="function_text">Hỗ trợ</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("UpgradeAccount","User")">
                        <img src="~/source-img/Group 22960.png" class="function_img">
                        <span class="function_text">Nâng cấp tài khoản</span>
                    </a>
                </li>
                <li> 
                    <a href="@Url.Action("Index","Login")">
                        <img src="~/source-img/Group 22959.png" class="function_img">
                        <span class="function_text">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
        @RenderBody()
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <script src="~/Contents/tong-quan.js"></script>
    <script src="~/Contents/profile.js"></script>
</body>
</html>
