@using Xproduct.Models
@model Xproduct.Models.Dto.DtoUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = (User)Session["sesion"];
}
@Styles.Render("~/Contents/profile-styles.css")
@using (Html.BeginForm("ProfileUser", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormProfileUser" }))
{
    <div class="sidebar">
        <div class="logo-content">
            <btn id="btn"></btn>
            <img src="~/source-img/logo-tong-quan.png" class="logo">
        </div>
        <div class="mot_duong_ke"></div>
        <ul class="nav_list">
            <li class="selected">
                <a href="@Url.Action("Index","User")">
                    <div class="highlight active"></div>
                    <img src="~/source-img/Group 20895.png" class="icon" id="first">
                    <span class="links_name active">Tổng quan</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Product","User")">
                    <div class="highlight"></div>
                    <img src="~/source-img/Group 20867-off.png" class="icon">
                    <span class="links_name">Product</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Statistical","User")">
                    <div class="highlight"></div>
                    <img src="~/source-img/Group 20872-off.png" class="icon">
                    <span class="links_name">Thống kê</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Setting","User")">
                    <div class="highlight"></div>
                    <img src="~/source-img/Group 20873-off.png" class="icon">
                    <span class="links_name">Thiết lập</span>
                </a>
            </li>
        </ul>
    </div>
    @Html.HiddenFor(x => x.idUser)
    <div class="tool_bar_2">
        <span class="title"><b>Hồ sơ cá nhân</b></span>
        <button type="button" id="cancel"></button>
        <button type="submit" id="save"></button>
    </div>
    <button type="button" class="info_option" onclick="showInfoPage()"><b>Thông tin</b></button>
    <button type="button" class="info_option_2" onclick="showWorkPage()"><b>Công việc</b></button>
    <div class="mot_duong_ke"></div>


    <div class="containerr page show" id="infoPage">
        <div class="row">
            <div class="col-sm" style="display: inline-block;">
                <div class="user_info_container">
                    <input type="file" name="fileToUpload" class="input_image" id="image" accept="image/*" />
                    <img class="user_big_avt" id="id_image" onclick="onFile()" src="@Model.ImageBase64">
                    <center><span id="span_1"><b>@user.FullName</b></span></center>
                    <center><div id="span_2">@user.Email</div></center>
                </div>
            </div>
            <div id="info_form">
                <div class="row">
                    <div class="col-sm" id="col_1">
                        <div class="input-info-1">
                            <label for="username" class="label">Tên truy cập: <p class="redtext">*</p></label>
                            @*<input type="text" name="username" class="input gray_bg" readonly>*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "input gray_bg", @readonly = "readonly" })
                        </div>
                        <div class="input-info">
                            <label for="username" class="label">Email: <p class="redtext">*</p></label>
                            @*<input type="text" name="username" class="input gray_bg" readonly>*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "input gray_bg", @readonly = "readonly" })
                        </div>
                        <div class="input-info">
                            <label for="username" class="label">Họ và tên: <p class="redtext">*</p></label>
                            @*<input type="text" name="username" class="input gray_bg" readonly>*@
                            @Html.TextBoxFor(m => m.FullName, new { @class = "input gray_bg", @readonly = "readonly" })
                        </div>
                        <div id="datepicker" class="input-info" style="position: relative;">
                            <label for="NgaySinh" class="label">Ngày sinh: </label>
                            <div class="input-group">
                                @Html.TextBox("NgaySinh", Model.NgaySinh, new { @class = "input form-control", @id = "NgaySinh", @readonly = "readonly", @style="border-radius: 4px" })
                                <div class="input-group-append" style="border: none; position: absolute; right: 0;">
                                    <span class="input-group-text" id="icon-calendar" style="border: none; border-bottom: none; position: absolute; right: 1px; top: 1px; width: 100%; height: 100%">
                                        <img src="~/source-img/calendar.png" id="img-calendar" style="width: 14px; height: 14px; position: absolute; right: 10px; top: 10px;">
                                    </span>
                                </div>
                            </div>
                        </div>



                        <div class="input-info-2">
                            <label for="address" class="label">Địa chỉ: </label>
                            @*<input type="text" name="address" class="input" id="address" placeholder="">*@
                            @Html.TextBoxFor(m => m.DiaChi, new { @class = "input", id = "address" })
                        </div>
                        <div class="gender">
                            <span id="text_gender">Giới tính: </span>
                            @*<label id="label_male">

                                </label>*@
                            <div id="label_male">
                                @Html.RadioButtonFor(m => m.GioiTinh, 1, new { id = "gioiTinhNam" })
                                Nam
                                @Html.RadioButtonFor(m => m.GioiTinh, 0, new { id = "gioiTinhNu" })
                                Nữ
                            </div>


                            @*@Html.RadioButtonFor(m => m.GioiTinh, 1)
                                @Html.RadioButtonFor(m => m.GioiTinh, 0)*@

                        </div>
                    </div>
                    <div class="col-sm" id="col_2">
                        <div class="input-info-3">
                            <label for="phone" class="label">Số điện thoại:  <p class="redtext">*</p></label>
                            @*<input type="text" name="phone" class="input" id="phone" placeholder="">*@
                            @Html.TextBoxFor(m => m.Sdt, new { @class = "input", id = "phone" })
                        </div>
                        <div class="input-info-4">
                            <label for="idCard" class="label">Số CMND/CCCD: </label>
                            @*<input type="text" name="idCard" class="input" id="idCard" placeholder="">*@
                            @Html.TextBoxFor(m => m.CCCD, new { @class = "input", id = "idCard" })
                        </div>
                        <div class="input-info-4">
                            <label for="dropdown" class="label">Phòng ban:</label><br>

                            @{
                                var a = ((List<PhongBan>)ViewBag.listPhongBan).Select(x => new SelectListItem()
                                {
                                    Text = x.TenPhongBan,
                                    Value = x.IdPhongBan.ToString(),
                                    Selected = x.IdPhongBan == Model.IdPhongBan
                                }).ToList();
                            }
                            @Html.DropDownListFor(x => x.IdPhongBan, a, new { id = "dropdown", @disabled = "disabled" })
                            @Html.HiddenFor(x => x.IdPhongBan)


                        </div>
                        <div class="input-info-4">
                            <label for="dropdown_2" class="label">Chức vụ: </label>
                            @{
                                var b = ((List<ChucVu>)ViewBag.ListChucVu).Select(z => new SelectListItem()
                                {
                                    Text = z.TenChucVu,
                                    Value = z.IdChucVu.ToString(),
                                    Selected = z.IdChucVu == Model.IdChucVu
                                }).ToList();
                            }
                            @Html.DropDownListFor(x => x.IdChucVu, b, new { id = "dropdown_2", @disabled = "disabled" })
                            @Html.HiddenFor(x => x.IdChucVu)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<div id="workPage" class="page">
    <h1>Đây là trang công việc</h1>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="~/Contents/profile.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Slick Carousel -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<style>
    #datepicker {
        background-color: #ffffff; 

    }

    .form-control {
        background-color: #ffffff; 
    }



    .input-group-text {
        background-color: #ffffff; 
        border: 1px solid #ced4da; 
    }

    .input[readonly]{
        background-color: #ffffff; 
    }


</style>